/* start global rules */
:root {
  --main-color: rgb(14, 163, 233);
  --secondary-color: rgb(14, 14, 102);
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .toggle-menu {
    display: none;
  }
}

/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (max-width: 450px) {
  p {
    font-size: 15px !important;
  }
  h2 {
    font-size: 30px !important;
  }
  header,
  .landing,
  .exp,
  .about,
  .advantage,
  .pricing,
  footer {
    width: 80vh !important;
  }
}
/* end global rules */

/* start header */
header {
  background-color: rgb(2, 2, 63);
  position: relative;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
}

header .logo img {
  width: 150px;
}

.toggle-menu {
  color: white;
  font-size: 22px;
  margin-right: 20px;
}

nav {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
}

nav ul {
  display: flex;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  padding: 36px 20px;
  transition: 0.3s;
}

nav ul li a:hover {
  color: var(--main-color);
}

.links.display {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgb(14 163 233 / 60%);
  padding: 15px;
  z-index: 100;
  gap: 30px;
}

/* Start Mobile  */

@media (max-width: 767px) {
  header nav ul {
    display: none;
  }

  header nav ul li a {
    padding-left: 20px;
  }
}

/* END MOBILE */

/* end header */

/* start landing section */
.landing {
  min-height: 90vh;
  background-image: url(../images/nnn.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.landing .overlay {
  background: linear-gradient(
    90deg,
    rgba(20, 20, 20, 1) 0%,
    rgba(139, 138, 138, 0.9529061624649859) 35%,
    rgba(239, 239, 239, 0) 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.landing .text {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  padding: 60px;
  text-align: center;
  line-height: 2;
  color: white;
}

.text h2 {
  font-size: 50px;
  font-weight: 900;
}

.text p {
  font-size: 20px;
}

.pricing .container .p-text button,
.text button {
  background-color: var(--main-color);
  color: white;
  padding: 30px 40px;
  margin-top: 20px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.pricing .container .p-text button:hover,
.text button:hover {
  background-color: var(--secondary-color);
}

/* Start Mobile  */

@media (max-width: 767px) {
  .landing {
    width: 100%;
    position: relative;
  }

  .landing .text {
    text-align: center;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .landing .text h2 {
    font-size: 35px;
  }

  .landing .text p {
    font-size: 18px;
  }
}

/* END MOBILE */

/* end landing section */

/* START About section */
.about {
  height: 100vh;
  position: relative;
}

.about .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.about .container h1 {
  font-size: 100px;
  color: var(--secondary-color);
  margin-bottom: 40px;
}

.about .container p {
  font-size: 35px;
  color: rgb(85, 85, 85);
  line-height: 1.8;
  font-style: italic;
}

.about.animation {
  animation: fade-in-top 1.5s;
}

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/* Start Mobile  */

@media (max-width: 767px) {
  .about .container {
    padding: 10px 10px;
    width: 100%;
  }

  .about .container h1 {
    font-size: 50px;
  }

  .about .container p {
    font-size: 20px;
    width: 100%;
  }
}

/* END MOBILE */

/* end About section */

/* start exp section */
.exp {
  position: relative;
}

.exp .container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}

.content.animation {
  animation: fade-in-top 1.5s;
}

.exp .container .content img {
  width: 450px;
}

.exp .container .content .col2 {
  line-height: 2;
  font-size: 28px;
}

.exp .container .content h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 30px;
  color: var(--secondary-color);
}

/* Start Mobile  */

@media (max-width: 767px) {
  .exp .container .content {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 50px;
  }

  .exp .container .content img {
    width: 300px;
  }

  .exp .container .content .col2 {
    line-height: 1.8;
    font-size: 16px;
  }
}

/* END MOBILE */

/* end exp section */

/* start adv section */
.advantage {
  margin-top: 40px;
  height: 150vh;
}

.advantage.animation {
  animation: fade-in-top 1.5s;
}

.advantage .container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.adv-image {
  width: 50%;
}
.adv-image img {
  width: 100%;
  border: 15px solid var(--main-color);
  border-radius: 5px;
}

.adv-text {
  width: 40%;
  line-height: 2.5;
  font-size: 18px;
  padding: 30px;
}

.adv-text h2 {
  font-size: 33px;
  margin-bottom: 15px;
  border-bottom: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}

.adv-text .icons {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 50px auto;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}

.fa-solid.fa-clock,
.fa-solid.fa-sack-dollar,
.fa-solid.fa-list-check {
  padding: 10px;
  text-align: center;
  border-radius: 3px;
  color: white;
  background-color: var(--secondary-color);
}

/* Start Mobile  */

@media (max-width: 767px) {
  .advantage {
    height: 100vh;
  }
  .advantage .container {
    height: 100vh;
    margin-top: 65px;
  }

  .adv-text {
    line-height: 1.5;
    width: 50%;
    padding: 10px;
  }
  .adv-image {
    line-height: 1.5;
    width: 50%;
  }
}

/* END MOBILE */

/* end adv section */
/* start Pricing section */
.pricing {
  margin-top: 100px;
  height: 100vh;
}

.pricing .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pricing .container .p-text {
  width: 40%;
}

.pricing .container .p-text h2 {
  margin-bottom: 20px;
  color: var(--secondary-color);
  font-weight: 900;
  font-size: 38px;
}

.pricing .container .p-text p {
  line-height: 2;
  margin-bottom: 20px;
}

.pricing .container .plans {
  width: 60%;
  padding: 20px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  color: white;
}

.plans .plan-1,
.plans .plan-2 {
  padding: 30px;
  border: none;
  background-color: var(--secondary-color);
  border-radius: 10px;
  box-shadow: rgba(124, 124, 124, 0.801) 25px 20px 40px,
    rgba(124, 124, 124, 0.801) 14px 25px 25px;
}

.plans .plan-1.animation,
.plans .plan-2.animation {
  animation: roll-in-blurred-left 1s ease;
}

@-webkit-keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
    transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
    transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.plans .plan-1 h2,
.plans .plan-2 h2 {
  margin-bottom: 10px;
  font-size: 45px;
  position: relative;
}

.plans .plan-1 h2:not(:first-child)::before,
.plans .plan-2 h2:not(:first-child)::before {
  content: "$";
  position: absolute;
  top: 0;
  left: -10px;
  font-size: 17px;
}

.plans .plan-1 h2 span,
.plans .plan-2 h2 span {
  font-size: 15px;
  margin-left: 10px;
}

.plans .plan-1 p,
.plans .plan-2 p {
  padding-bottom: 20px;
}

.plans .features {
  display: grid;
  grid-template-columns: 30px auto;
  align-items: center;
  row-gap: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid var(--main-color);
}

/* Start Mobile  */

@media (max-width: 767px) {
  .pricing {
    height: 93vh;
  }

  .pricing .container {
    flex-direction: column-reverse;
  }

  .pricing .container .plans {
    width: 100%;
    padding: 15px;
    gap: 10px;
  }

  .plans .plan-1 h2,
  .plans .plan-2 h2 {
    font-size: 30px;
  }

  .pricing .container .p-text {
    width: 100%;
    text-align: center;
    margin-top: 25px;
  }
}

/* END MOBILE */
/* end Pricing section */

footer {
  margin-top: 530px;
  background-color: rgb(2, 2, 63);
  color: white;
  font-weight: 700;
}

footer .container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 40px;
  justify-content: space-between;
}

footer .container h3 {
  padding-bottom: 5px;
}

footer .container ul li a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

footer .container ul li a:hover {
  color: var(--main-color);
}

footer p {
  text-align: center;
  padding: 20px;
}

footer .container img {
  width: 250px;
}

/* Start Mobile  */

@media (max-width: 767px) {
  footer {
    margin-top: 610px;
  }

  footer .container {
    padding: 20px;
  }

  footer .container img {
    width: 150px;
  }

  footer p {
    padding: 10px;
  }

  footer .container h3 {
    font-size: 25px;
    padding-bottom: 10px;
    text-align: center;
  }
}

/* END MOBILE */
